<section class="phx-hero">
  Goots bot
</section>

<h1>vod history</h1>
<section class="row">
  <ul>
    <%= for %{inserted_at: i, url: u} <- list_vods() do %>
      <li><%= link u, to: u %>, inserted at: <%= i %></li>
    <% end %>
  </ul>
</section>
